# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# macOS files
.DS_Store

# VS Code settings
.vscode/

# Terraform files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan